---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Reader!</h1>
			<p>
				Welcome to the official Eriim blog built with <code><a href="https://astro.build/">Astro</a></code>.
			<p>
				This blog also serves as a custom <code><a href="https://astro.build/">Astro</a></code> template with a few integrations and customizations already configured in your
				<code>astro.config.mjs</code> file. You can customize the source <code><a href="https://github.com/erictossell/blog">repo</a></code> to fit your liking.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
