---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggleButton from './ThemeToggleButton.svelte';
---

<header>
	<nav>
		<a href="/"><img style="width:150px;align-items:center;"src="./public/eriim_docs_logo.png"></a>
	
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="theme-toggle-container">
			<ThemeToggleButton client:load />
		</div>
		<div class="social-links">
			<a href="https://linkedin.com/in/eric-tossell/" target="_blank">
				<span class="sr-only">Follow me on LinkedIn</span>
				<svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
					<path fill="currentColor" d="M19.2,3H4.8C3.8,3,3,3.8,3,4.8v14.4C3,20.2,3.8,21,4.8,21h14.4c1,0,1.8-0.8,1.8-1.8V4.8C21,3.8,20.2,3,19.2,3z M8.3,18.5H5.5V9h2.8V18.5z M6.9,7.7c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6C8.5,7,7.8,7.7,6.9,7.7z M18.5,18.5h-2.8v-4.9c0-1.2,0-2.7-1.7-2.7c-1.7,0-2,1.3-2,2.6v5h-2.8v-9h2.7v1.2h0c0.4-0.7,1.3-1.4,2.7-1.4c2.9,0,3.4,1.9,3.4,4.4V18.5z"></path>
				</svg>
			</a>
			
			<a href="https://github.com/erictossell/blog" target="_blank">
				<span class="sr-only">Checkout to this site's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.theme-toggle-container {
		width: 100px;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
